* {
    font-family: 'Open Sans', 'Roboto';
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
}

body {
    background-image: url('/img/bg.jpg');
    background-size: cover;
}

header {
    border-bottom: 2px solid navy;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: .8em 2em;
    margin: .5em;
    border-radius: 25px;
}

nav a:hover {
    color: white;
    background-color: black;
}

#ccButtons {
    display: grid;
}

#cookieElement {
    grid-row-start: 1;
    grid-row-end: -1;
}

#companionElement, #compounderElement {
    display: grid;
    justify-self: center;
    margin-bottom: 3em;
    background-color: lightslategray;
    padding: 1em;
    border: 2px solid navy;
    border-radius: 15px;
    width: 25%;
}